    </main>
    
    <!-- footer -->
    <section class="hero is-dark">
        <div class="container">
            <p style="padding: 10px 0 10px 0">
                <strong>&copy; fequest (2018)</strong> by <a href="http://www.paweltylek.pl">Pawel Tylek</a>
            </p>
        </div>
    </section>
   
    <script src="/scripts/js/lib/jquery-3.3.1.min.js"></script>
    <script src="/modules/bulma-iconpicker/dist/js/bulma-iconpicker.js"></script>
    <script>bulmaIconpicker.attach();</script>
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
    <script>
        $(document).ready(function() {

        // Check for click events on the navbar burger icon
        $(".navbar-burger").click(function() {

        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
        $(".navbar-burger").toggleClass("is-active");
        $(".navbar-menu").toggleClass("is-active");

        });
    });
    </script>
    </body>
</html>